# SEMANA 05
Alumno: Luis Alejandro Serna Malca

Temas

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores
6. Variables

5. Operadores

In [1]:
# 5.1. OPERADORES ARITMÉTICOS
# SE TIENE: " + , - , * , / , % , ** , //"

In [8]:
numero1 = 10 
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
potencia = numero1 ** numero2
cociente = numero1 // numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [9]:
# 5.2. OPERADORES DE ASIGNACION 
# SE TIENE : " = , += , -= , *= , /= , **= "
numero = 5
numero = numero +3
print(numero)

8

In [10]:
# La operacion anterior tambien se puede expresar de la siguiente manera 
numero = 5 
numero += 3
print(numero)

8

In [11]:
# Ejemplo: 
numero = 5 
numero = numero ** 3
print(numero)

125

In [12]:
numero = 5 
numero **= 3
print(numero)

125

In [9]:
# OPERADORES DE COMPARACIÓN 
# SE TIENE: " == , != , < , > , <= , >= "

In [13]:
# Ejemplo de igualdad ==
numero1 = 5 
numero2 = 2
numero1 == numero2

False

In [14]:
# Con las cadenas funciona igual
nombre1 = "Frank"
nombre2 = "Frank"
nombre1 == nombre2

True

In [15]:
# 5.4 OPERADORES LOGICOS
# Se tiene : " and , or , not"
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [16]:
numero1 < numero2

True

In [17]:
#el not invierte el resultado 
not(numero1<numero2)

False

In [18]:
numero1<numero2 and numero3 < numero4

True

In [19]:
# Tambien puedes utilizar parentesis para ordenar tu operacion
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [20]:
# 5.5 Operadores de Pertenencia
# Se tiene: " in , not in "

In [21]:
#Ejemplo: 
aula = [ "Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [22]:
# ¿Diego esta en aula ? 
alumno1 in aula

False

In [23]:
# ¿Juan esta en aula?
alumno2 in aula

True

In [24]:
# ¿Diego no está en aula ? 
alumno1 not in aula

True

In [25]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [26]:
# 5.6. OPERADORES DE IDENTIDAD
# SE TIENE: " is , is not "

In [27]:
aula1 = ["Juan", "Daniel", "Roberto"]
aula2 = ["Juan", "Daniel", "Roberto"]
# A continuación vamos a indicar que aula 3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [28]:
# ¿ aula3 comparte el mismo objeto que aula1 ? 
aula3 is aula1

True

In [29]:
# ¿ aula3 comparte el mismo objeto que aula2 ? 
aula3 is aula2

False

In [30]:
# ¿ aula2 comparte el mismo objeto que aula1 ? 
aula2 is aula1

False

In [31]:
aula1.append("Diego")

In [32]:
# Al imprimir los elementos de la lista aula1 se observa 
print(aula1)

['Juan', 'Daniel', 'Roberto', 'Diego']

In [33]:
print(aula3)

['Juan', 'Daniel', 'Roberto', 'Diego']

In [34]:
aula3 = aula2

In [35]:
print(aula3)

['Juan', 'Daniel', 'Roberto']

In [36]:
aula3.append("Diego en 3")

In [37]:
print(aula3)

['Juan', 'Daniel', 'Roberto', 'Diego en 3']

In [38]:
print(aula2)

['Juan', 'Daniel', 'Roberto', 'Diego en 3']

In [49]:
# Explicacion de compartir objetos con 
<img src="Compartir_objetos.jpg">

In [50]:
from PIL import Image
img = Image.open("Compartir_objetos.jpg")
img.show()