# SEMANA 05
Alumno: Luis Alejandro Serna Malca

Temas

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores
6. Variables

In [1]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
#Universidad Nacional Tecnológica de Lima Sur
#01234...                             ...-3-2-1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
cadena[11]

' '

In [6]:
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [9]:
cadena[-23]

'T'

In [10]:
# Para mostrar una subcadena [desde, hasta una antes]
# En java era substring()
cadena[3:8]

'versi'

In [11]:
# Para saber el tamaño de una cadena utilizamos len()
# Incluye espacios en blanco
len(cadena)

44

In [13]:
# Para mostrar una cadena en mayusculas utilizamos .upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [15]:
# Ojito ..... solo lo muestra, porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [16]:
# Si desearas cambiarlo harias:
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [17]:
# Para mostrar una cadena en minuscula utilizaremos .lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [18]:
# Para generar una lista a partir de una cadena utilizamos split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [19]:
# Para generar una lista utilizando un criterio de separación a partir de una cadena split()
# en este caso vamos a generar una lista de toda la cadena, utilizando como criterio de separación la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [20]:
# Forma clásica para concatenar +
nombre = "Luis Serna"
print("Buenos días "+ nombre)

Buenos días Luis Serna

In [21]:
# utilizando el .format()
nombre = "Luis Serna"
edad = 25
print("Hola {} ya se que tienes {} años".format(nombre,edad))

Hola Luis Serna ya se que tienes 25 años

In [25]:
# Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r = resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [27]:
# Dar formato con f
# la función f, esta disponible desde la versión 1.6 a +
nombre = "Luis Serna" 
edad = 21
print(f"Buenos días {nombre}, ya sé que tienes {edad} años")

Buenos días Luis Serna, ya sé que tienes 21 años

In [28]:
# Dar formato a números con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333