# SEMANA 05
Alumno: Luis Alejandro Serna Malca

Temas

1. Números
2. Variables
3. Manejo de cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

In [2]:
#Siempre deben iniciar con una letra o un guion abajo.(Nunca con un numero u otro Símbolo)

In [3]:
edad=41
edad

41

In [5]:
nombre="Luis"
nombre

'Luis'

In [6]:
apellido= "Serna Malca"
apellido

'Serna Malca'

In [7]:
nombrecompleto = nombre + apellido
nombrecompleto

'LuisSerna Malca'

In [9]:
nombrecompleto = nombre + " " + apellido
nombrecompleto

'Luis Serna Malca'

In [10]:
# Para saber el tipo de variable utilizamos la funcion type()
# Por Ejemplo:

In [12]:
numero = 50 
type(numero)

int

In [13]:
type(nombre)

str

In [14]:
talla = 1.70
talla

1.7

In [16]:
type(talla)

float

In [19]:
#Para convertir un numero en cadena utilizamos str()
numero = 100
cadena = str(numero)
cadena

'100'

In [20]:
type(cadena)

str

In [23]:
# Para convertir una cadena en un entero utilizamos int()
cadena2 = "50"
numero2 = int(cadena2)
cadena2

'50'

In [24]:
type(numero2)

int

In [26]:
# Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50" 
numero2 = float(cadena2)
numero2

50.0

In [27]:
type(numero2)

float