# SEMANA 06
Alumn: Luis Alejandro Serna Malca

1. Colecciones de datos

In [53]:
# 1.1. Listas
# Es una colección de elementos que pueden ser ordenados, modificados, etc...
# Se identifica por los corchetes [] que muestra la lista.
# Ejemplo: 
aula = ['Yauricasa', 'Granados', 'Alva', 'Laura']
print(aula)

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [54]:
aula

['Yauricasa', 'Granados', 'Alva', 'Laura']

In [55]:
# Podemos extraer cada elemento por su posición 
print(aula[0])
print(aula[1])

Yauricasa
Granados

In [56]:
# Puedo asignar un valor a una posicion de la lista
aula[1] = 'Chavez'
aula[1]

'Chavez'

In [57]:
# Mostramos como quedo la lista
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura']

In [58]:
# Para agregar un elemento utilizamos append
aula.append("Huaman")
aula.append("Huancas")
aula.append("Chavez")

In [59]:
aula

['Yauricasa', 'Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [60]:
# Para eliminar elementos utilizamos remove()
aula.remove("Yauricasa")
aula

['Chavez', 'Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [61]:
# Si hubiera varios elementos de valores iguales se elimina la primera coincidencia
aula.remove("Chavez")
aula

['Alva', 'Laura', 'Huaman', 'Huancas', 'Chavez']

In [62]:
# Para obtener el tamaño utilizamos len()
len(aula)

5

In [63]:
# Eliminar elementos por orden
aula.remove(aula[2])
aula

['Alva', 'Laura', 'Huancas', 'Chavez']

In [64]:
# Eliminar por posición
aula.pop(2)

'Huancas'

In [65]:
aula

['Alva', 'Laura', 'Chavez']

In [66]:
# Eliminar solo la ultima posicion
aula.pop()

'Chavez'

In [67]:
aula

['Alva', 'Laura']

In [68]:
for alumno in aula :
    print(alumno)

Alva
Laura

In [69]:
aula.append("Vilca")
aula.append("Gavino")
aula

['Alva', 'Laura', 'Vilca', 'Gavino']

In [70]:
for alumno in aula :
    print(alumno)

Alva
Laura
Vilca
Gavino

In [71]:
# Para invertir la lista utilizamos reverse()
#Invertir NO SIGNIFICA ordenar en forma descendente sin invertir la lista
aula.reverse()
aula

['Gavino', 'Vilca', 'Laura', 'Alva']

In [72]:
# Para ordenar una lista utilizamos sort()
aula.sort()
aula

['Alva', 'Gavino', 'Laura', 'Vilca']

In [73]:
# 1.2 Tuplas
# Es una coleccion de elementos ordenada(ordenada significa que tiene un indice)que no se puede modificar ES INALTERABLE
# NO SE PUEDEN AGREGAR ELEMENTOS NI ELIMINAR
# SE IDENTIFICAN POR LOS PARENTESIS ""()""

tupla_aula = ('Granados' , 'Julca' , 'Cusi' , 'Marcos')
tupla_aula

('Granados', 'Julca', 'Cusi', 'Marcos')

In [74]:
# Se puede recorrer con una estructura repetitiva
# Ejemplo for
for alumno in tupla_aula:
    print(alumno)

Granados
Julca
Cusi
Marcos

In [75]:
# Se puede extraer un elemento por su posicion
tupla_aula[2]

'Cusi'

In [76]:
len(tupla_aula)

4

In [77]:
# 1.3 Conjuntos
# Es una coleccion de elementos que no esta ordenado (significa que no tiene indice)
# SE IDENTIFICAN EN LLAVES "{}"
conjunto_aula = {'Granados' , 'Julca' , 'Cusi' , 'Marcos'}
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos'}

In [78]:
# Se puede recorrer utilizando una estructura repetitiva
#Ejemplo for:
for alumno in conjunto_aula:
    print(alumno)

Cusi
Granados
Julca
Marcos

In [79]:
# OBSERVACION: No se puede acceder por posición porque no considera indexación
#Ejemplo:
# conjunto_aula[2] devolverá un mensaje de error

In [80]:
len(conjunto_aula)

4

In [81]:
# Para agregar utilizamos la función .add()
conjunto_aula.add("Motta")
conjunto_aula

{'Cusi', 'Granados', 'Julca', 'Marcos', 'Motta'}

In [82]:
conjunto_aula.remove("Granados")
conjunto_aula

{'Cusi', 'Julca', 'Marcos', 'Motta'}

In [84]:
# 1.4 Diccionarios
# Es una coleccion de elementos, que estan indexados , no estan ordenados y se pueden modificar
# Son escritos entre llaves y estan formados por pares de elementos    INDICE: VALOR

diccionario_aula = {2:'Cusi' , '1': 'Julca' , 'dos':'Marcos' , '0':'Motta'}
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta'}

In [86]:
# Del Diccionario: diccionario_aula estraer el valor cuyo indice sea cero en String
diccionario_aula['0']

'Motta'

In [87]:
diccionario_aula[2]

'Cusi'

In [88]:
diccionario_aula["dos"]

'Marcos'

In [89]:
diccionario_aula['20'] = "Serna"
diccionario_aula

{2: 'Cusi', '1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [90]:
#Para eliminar un valor se utiliza .pop()
#Ejemplo eliminar el elemento e indice 2:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Julca', 'dos': 'Marcos', '0': 'Motta', '20': 'Serna'}

In [91]:
# Eliminar utilizando del()
del (diccionario_aula["dos"])
diccionario_aula

{'1': 'Julca', '0': 'Motta', '20': 'Serna'}

In [93]:
# Para recorrer todos los elementos utilizamos for
# Ejemplo: devuelve indices

for indice in diccionario_aula:
    print(indice)

1
0
20

In [94]:
#Para obtener el indice y el valor de cada elemento utilizamos .items()
for indice,valor in diccionario_aula.items():
    print(indice, valor)

1 Julca
0 Motta
20 Serna

In [95]:
# 1.5 Ejercicio:
# Dada una lista de [ALANYA , ALVA , AZAÑERO , CARRASCO , CCACCYA , COSME , CUSI , DIAZ , FLORES , GOMEZ , GOMEZ , GRANADOS ,
# HUANCAS , JULCA , LAURA , MOTTA , PINEDO , PONCE , QUINTANA , RODRIGUEZ , SERNA , VILCA , YAURICASA]
# Diseñar un codigo que muestre si el apellido de un estudiante  ( ingreso por teclado ) forma parte de la lista
# Tiempo 12 min.

In [119]:
lista = [ 'ALANYA' , 'ALVA' , 'AZAÑERO' , 'CARRASCO' , 'CCACCYA' , 'COSME' , 'CUSI' , 'DIAZ' , 'FLORES' , 'GOMEZ' , 'GOMEZ' , 'GRANADOS' , 'HUANCAS' , 'JULCA' , 'LAURA' , 'MOTTA' , 'PINEDO' , 'PONCE' , 'QUINTANA' ,'RODRIGUEZ' , 'SERNA' , 'VILCA' , 'YAURICASA' ]
print("Ingrese nombre del estudiante a encontrar: ")
alumno = input()
alumno = alumno.upper()

if alumno in lista :
    print("El Alumno si esta en la lista")
else:
    print("El Alumno no esta en la lista")

Ingrese nombre del estudiante a encontrar:
serna
El Alumno si esta en la lista